In [1]:
import numpy as np
import pandas as pd

In [2]:
tourists=pd.read_csv('package_tourism.csv')
tourismid=pd.read_csv('tourism_with_id.csv')
ratings=pd.read_csv('tourism_rating.csv')
users=pd.read_csv('user.csv')

In [3]:
tourists.head()

,Package,City,Place_Tourism1,Place_Tourism2,Place_Tourism3,Place_Tourism4,Place_Tourism5
0,1,Jakarta,Pasar Tanah Abang,Taman Ayodya,Museum Tekstil,NaN,NaN
1,2,Jakarta,Pasar Tanah Abang,Pasar Taman Puring,Pasar Petak Sembilan,NaN,NaN
2,3,Jakarta,Perpustakaan Nasional,Monas,Masjid Istiqlal,NaN,NaN
3,4,Jakarta,Pulau Tidung,Pulau Bidadari,Pulau Pari,Pulau Pramuka,Pulau Pelangi
4,5,Jakarta,Museum Satria Mandala,Museum Wayang,Museum Bahari Jakarta,Museum Macan (Modern and Contemporary Art in N...,NaN

In [4]:
tourismid.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,NaN,1
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,NaN,2
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,NaN,3
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,4.5,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156,NaN,4
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134,NaN,5

In [5]:
ratings.head()

   User_Id  Place_Id  Place_Ratings
0        1       179              3
1        1       344              2
2        1         5              5
3        1       373              3
4        1       101              4

In [6]:
users.head()

   User_Id                   Location  Age
0        1      Semarang, Jawa Tengah   20
1        2         Bekasi, Jawa Barat   21
2        3        Cirebon, Jawa Barat   23
3        4         Bekasi, Jawa Barat   21
4        5  Lampung, Sumatera Selatan   20

In [7]:
print(tourists.shape)
print(tourismid.shape)
print(ratings.shape)
print(users.shape)

(100, 7)
(437, 13)
(10000, 3)
(300, 3)

In [8]:
tourists.isnull().sum()

Package            0
City               0
Place_Tourism1     0
Place_Tourism2     0
Place_Tourism3     0
Place_Tourism4    34
Place_Tourism5    61
dtype: int64

In [9]:
tourismid.isnull().sum()

Place_Id          0
Place_Name        0
Description       0
Category          0
City              0
Price             0
Rating            0
Time_Minutes    232
Coordinate        0
Lat               0
Long              0
Unnamed: 11     437
Unnamed: 12       0
dtype: int64

In [10]:
ratings.isnull().sum()

User_Id          0
Place_Id         0
Place_Ratings    0
dtype: int64

In [11]:
users.isnull().sum()

User_Id     0
Location    0
Age         0
dtype: int64

In [12]:
tourists.duplicated().sum()

0

In [13]:
tourismid.duplicated().sum()

0

In [14]:
ratings.duplicated().sum()

79

In [15]:
users.duplicated().sum()

0

In [18]:
ratings_with_name=ratings.merge(tourismid,on='Place_Id')

In [19]:
ratings_with_name

,User_Id,Place_Id,Place_Ratings,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
0,1,179,3,Candi Ratu Boko,Situs Ratu Baka atau Candi Boko (Hanacaraka:ꦕꦤ...,Budaya,Yogyakarta,75000,4.6,90.0,"{'lat': -7.7705416, 'lng': 110.4894158}",-7.770542,110.489416,NaN,179
1,22,179,4,Candi Ratu Boko,Situs Ratu Baka atau Candi Boko (Hanacaraka:ꦕꦤ...,Budaya,Yogyakarta,75000,4.6,90.0,"{'lat': -7.7705416, 'lng': 110.4894158}",-7.770542,110.489416,NaN,179
2,40,179,3,Candi Ratu Boko,Situs Ratu Baka atau Candi Boko (Hanacaraka:ꦕꦤ...,Budaya,Yogyakarta,75000,4.6,90.0,"{'lat': -7.7705416, 'lng': 110.4894158}",-7.770542,110.489416,NaN,179
3,49,179,5,Candi Ratu Boko,Situs Ratu Baka atau Candi Boko (Hanacaraka:ꦕꦤ...,Budaya,Yogyakarta,75000,4.6,90.0,"{'lat': -7.7705416, 'lng': 110.4894158}",-7.770542,110.489416,NaN,179
4,74,179,3,Candi Ratu Boko,Situs Ratu Baka atau Candi Boko (Hanacaraka:ꦕꦤ...,Budaya,Yogyakarta,75000,4.6,90.0,"{'lat': -7.7705416, 'lng': 110.4894158}",-7.770542,110.489416,NaN,179
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,240,140,3,Bendung Lepen,Bendung Lepen sendiri dulunya merupakan salura...,Taman Hiburan,Yogyakarta,0,4.6,60.0,"{'lat': -7.831666800000002, 'lng': 110.3945119}",-7.831667,110.394512,NaN,140
9996,247,140,4,Bendung Lepen,Bendung Lepen sendiri dulunya merupakan salura...,Taman Hiburan,Yogyakarta,0,4.6,60.0,"{'lat': -7.831666800000002, 'lng': 110.3945119}",-7.831667,110.394512,NaN,140
9997,261,140,4,Bendung Lepen,Bendung Lepen sendiri dulunya merupakan salura...,Taman Hiburan,Yogyakarta,0,4.6,60.0,"{'lat': -7.831666800000002, 'lng': 110.3945119}",-7.831667,110.394512,NaN,140
9998,267,140,3,Bendung Lepen,Bendung Lepen sendiri dulunya merupakan salura...,Taman Hiburan,Yogyakarta,0,4.6,60.0,"{'lat': -7.831666800000002, 'lng': 110.3945119}",-7.831667,110.394512,NaN,140
9999,268,140,2,Bendung Lepen,Bendung Lepen sendiri dulunya merupakan salura...,Taman Hiburan,Yogyakarta,0,4.6,60.0,"{'lat': -7.831666800000002, 'lng': 110.3945119}",-7.831667,110.394512,NaN,140

In [22]:
num_rating_df=ratings_with_name.groupby('Place_Name').count()['Place_Ratings'].reset_index()
num_rating_df.rename(columns={'Place_Ratings':'num_ratings'},inplace=True)
num_rating_df

                    Place_Name  num_ratings
0            Air Mancur Menari           13
1       Air Terjun Kali Pancur           24
2      Air Terjun Kedung Pedut           22
3          Air Terjun Semirang           23
4        Air Terjun Sri Gethuk           22
..                         ...          ...
432        Wisata Kraton Jogja           20
433  Wisata Kuliner Pecenongan           33
434        Wisata Lereng Kelir           31
435      Wisata Mangrove Tapak           18
436                   Wot Batu           18

[437 rows x 2 columns]

In [23]:
avg_rating_df=ratings_with_name.groupby('Place_Name').mean()['Place_Ratings'].reset_index()
avg_rating_df.rename(columns={'Place_Ratings':'avg_ratings'},inplace=True)
avg_rating_df

                    Place_Name  avg_ratings
0            Air Mancur Menari     2.769231
1       Air Terjun Kali Pancur     2.916667
2      Air Terjun Kedung Pedut     3.590909
3          Air Terjun Semirang     2.826087
4        Air Terjun Sri Gethuk     2.954545
..                         ...          ...
432        Wisata Kraton Jogja     3.000000
433  Wisata Kuliner Pecenongan     2.636364
434        Wisata Lereng Kelir     3.290323
435      Wisata Mangrove Tapak     2.722222
436                   Wot Batu     2.388889

[437 rows x 2 columns]

In [24]:
popular_df=num_rating_df.merge(avg_rating_df,on='Place_Name')

In [25]:
popular_df

                    Place_Name  num_ratings  avg_ratings
0            Air Mancur Menari           13     2.769231
1       Air Terjun Kali Pancur           24     2.916667
2      Air Terjun Kedung Pedut           22     3.590909
3          Air Terjun Semirang           23     2.826087
4        Air Terjun Sri Gethuk           22     2.954545
..                         ...          ...          ...
432        Wisata Kraton Jogja           20     3.000000
433  Wisata Kuliner Pecenongan           33     2.636364
434        Wisata Lereng Kelir           31     3.290323
435      Wisata Mangrove Tapak           18     2.722222
436                   Wot Batu           18     2.388889

[437 rows x 3 columns]

In [43]:
popular_df[popular_df['num_ratings']>=15].sort_values('avg_ratings',ascending=False).round(2).head(20)

,Place_Name,num_ratings,avg_ratings,Place_Id_x,Description_x,Category_x,City_x,Price_x,Rating_x,Time_Minutes_x,...,Category_y,City_y,Price_y,Rating_y,Time_Minutes_y,Coordinate_y,Lat_y,Long_y,Unnamed: 11_y,Unnamed: 12_y
158,Keraton Surabaya,31,3.97,416,Kawasan yang berjuluk Kampung Keraton ini terd...,Budaya,Surabaya,0,4.4,NaN,...,Budaya,Surabaya,0,4.4,NaN,"{'lat': -7.256755299999998, 'lng': 112.7942203}",-7.26,112.79,NaN,416
312,Puncak Gunung Api Purba - Nglanggeran,17,3.88,139,Gunung Nglanggeran adalah sebuah gunung di Dae...,Cagar Alam,Yogyakarta,10000,4.7,60.0,...,Cagar Alam,Yogyakarta,10000,4.7,60.0,"{'lat': -7.841252999999998, 'lng': 110.543056}",-7.84,110.54,NaN,139
135,Kampung Cina,19,3.84,52,KAMPUNG China adalah hunian dan kawasan perdag...,Budaya,Jakarta,15000,4.5,NaN,...,Budaya,Jakarta,15000,4.5,NaN,"{'lat': -6.3651357, 'lng': 106.7617984}",-6.37,106.76,NaN,52
402,Teras Cikapundung BBWS,19,3.79,254,Teras Cikapundung Bandung sebelumnya merupakan...,Taman Hiburan,Bandung,0,4.3,60.0,...,Taman Hiburan,Bandung,0,4.3,60.0,"{'lat': -6.8844199, 'lng': 107.6068344}",-6.88,107.61,NaN,254
200,Monumen Yogya Kembali,22,3.77,97,Museum Monumen Yogya Kembali (bahasa Jawa: ꦩꦺꦴ...,Budaya,Yogyakarta,15000,4.5,30.0,...,Budaya,Yogyakarta,15000,4.5,30.0,"{'lat': -7.7495904, 'lng': 110.3696068}",-7.75,110.37,NaN,97
25,Bukit Jamur,30,3.77,322,Bukit Jamur Ciwidey adalah satu dari sekian ba...,Cagar Alam,Bandung,0,4.2,NaN,...,Cagar Alam,Bandung,0,4.2,NaN,"{'lat': -7.195110199999998, 'lng': 107.4312811}",-7.20,107.43,NaN,322
23,Bukit Bintang Yogyakarta,17,3.76,112,Bukit Bintang merupakan salah satu lokasi nong...,Taman Hiburan,Yogyakarta,25000,4.5,90.0,...,Taman Hiburan,Yogyakarta,25000,4.5,90.0,"{'lat': -7.845840699999997, 'lng': 110.4798457}",-7.85,110.48,NaN,112
193,Monumen Nasional,18,3.72,1,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.18,106.83,NaN,1
88,Glamping Lakeside Rancabali,21,3.71,321,Glamping Lakeside Rancabali menawarkan tempat ...,Taman Hiburan,Bandung,30000,4.4,NaN,...,Taman Hiburan,Bandung,30000,4.4,NaN,"{'lat': -7.167590799999999, 'lng': 107.3532419}",-7.17,107.35,NaN,321
249,Pantai Baron,23,3.70,157,Pantai Baron adalah salah satu objek wisata be...,Bahari,Yogyakarta,10000,4.4,NaN,...,Bahari,Yogyakarta,10000,4.4,NaN,"{'lat': -8.1288246, 'lng': 110.5487763}",-8.13,110.55,NaN,157
325,Sanghyang Heuleut,29,3.66,300,Danau yang satu ini memiliki air jernih bernua...,Cagar Alam,Bandung,10000,4.4,NaN,...,Cagar Alam,Bandung,10000,4.4,NaN,"{'lat': -6.876513099999999, 'lng': 107.3422183}",-6.88,107.34,NaN,300
340,Stone Garden Citatah,17,3.65,230,"Stone Garden, adalah sebutan nama untuk hampa...",Taman Hiburan,Bandung,30000,4.4,NaN,...,Taman Hiburan,Bandung,30000,4.4,NaN,"{'lat': -6.8281528, 'lng': 107.4350179}",-6.83,107.44,NaN,230
177,Masjid Agung Trans Studio Bandung,28,3.64,279,Masjid Agung Trans Studio Bandung (TSB) berdir...,Tempat Ibadah,Bandung,0,4.8,NaN,...,Tempat Ibadah,Bandung,0,4.8,NaN,"{'lat': -6.925963500000001, 'lng': 107.6354278}",-6.93,107.64,NaN,279
60,Desa Wisata Gamplong,30,3.63,134,Desa Wisata Gamplong adalah desa wisata keraji...,Taman Hiburan,Yogyakarta,10000,4.4,60.0,...,Taman Hiburan,Yogyakarta,10000,4.4,60.0,"{'lat': -7.805523199999997, 'lng': 110.2374676}",-7.81,110.24,NaN,134
197,Monumen Selamat Datang,19,3.63,44,Monumen Selamat Datang adalah sebuah monumen y...,Budaya,Jakarta,0,4.7,15.0,...,Budaya,Jakarta,0,4.7,15.0,"{'lat': -6.194997799999999, 'lng': 106.8230496}",-6.19,106.82,NaN,44
57,Dago Dreampark,21,3.62,224,Dago Dreampark merupakan wisata kekinian di Ko...,Taman Hiburan,Bandung,40000,4.2,150.0,...,Taman Hiburan,Bandung,40000,4.2,150.0,"{'lat': -6.8486423, 'lng': 107.625939}",-6.85,107.63,NaN,224
424,Wisata Agro Edukatif Istana Susu Cibugary,18,3.61,28,Kawasan Wisata Agro Edukatif Istana Susu “Cibu...,Taman Hiburan,Jakarta,35000,4.5,NaN,...,Taman Hiburan,Jakarta,35000,4.5,NaN,"{'lat': -6.3568093, 'lng': 106.9062371}",-6.36,106.91,NaN,28
2,Air Terjun Kedung Pedut,22,3.59,132,Air Terjun Kedung Pedut atau biasa disebut Cur...,Cagar Alam,Yogyakarta,20000,4.5,60.0,...,Cagar Alam,Yogyakarta,20000,4.5,60.0,"{'lat': -7.769987499999998, 'lng': 110.1210707}",-7.77,110.12,NaN,132
387,Taman Pelangi,17,3.59,399,Kalau pelangi biasanya ada di siang hari pasca...,Taman Hiburan,Surabaya,0,4.5,20.0,...,Taman Hiburan,Surabaya,0,4.5,20.0,"{'lat': -7.3275604, 'lng': 112.7312242}",-7.33,112.73,NaN,399
375,Taman Keputran,26,3.58,401,"Ntah, mengapa nama taman ini disebut dengan ta...",Taman Hiburan,Surabaya,0,4.3,NaN,...,Taman Hiburan,Surabaya,0,4.3,NaN,"{'lat': -7.2732153, 'lng': 112.744102}",-7.27,112.74,NaN,401

,Place_Name,num_ratings,avg_ratings,Place_Id_x,Description_x,Category_x,City_x,Price_x,Rating_x,Time_Minutes_x,...,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
0,Air Mancur Menari,13,2.769231,394,Jembatan Kenjeran dengan air mancur menarinya ...,Taman Hiburan,Surabaya,35000,4.4,45.0,...,Taman Hiburan,Surabaya,35000,4.4,45.0,"{'lat': -7.2356933, 'lng': 112.7955234}",-7.235693,112.795523,NaN,394
1,Air Terjun Kali Pancur,24,2.916667,360,Kali Pancur Getasan merupakan kawasan wisata a...,Cagar Alam,Semarang,5000,4.1,NaN,...,Cagar Alam,Semarang,5000,4.1,NaN,"{'lat': -7.358096300000001, 'lng': 110.4210681}",-7.358096,110.421068,NaN,360
2,Air Terjun Kedung Pedut,22,3.590909,132,Air Terjun Kedung Pedut atau biasa disebut Cur...,Cagar Alam,Yogyakarta,20000,4.5,60.0,...,Cagar Alam,Yogyakarta,20000,4.5,60.0,"{'lat': -7.769987499999998, 'lng': 110.1210707}",-7.769988,110.121071,NaN,132
3,Air Terjun Semirang,23,2.826087,386,Terletak di lereng Gunung Ungaran bagian utara...,Cagar Alam,Semarang,9000,4.4,NaN,...,Cagar Alam,Semarang,9000,4.4,NaN,"{'lat': -7.166297100000002, 'lng': 110.381068}",-7.166297,110.381068,NaN,386
4,Air Terjun Sri Gethuk,22,2.954545,192,Air Terjun Sri Gethuk merupakan salah satu obj...,Cagar Alam,Yogyakarta,15000,4.4,NaN,...,Cagar Alam,Yogyakarta,15000,4.4,NaN,"{'lat': -7.943178000000001, 'lng': 110.48924}",-7.943178,110.489240,NaN,192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,Wisata Kraton Jogja,20,3.000000,150,Kraton Jogja adalah sebuah komplek kerajaan ya...,Budaya,Yogyakarta,7000,4.7,NaN,...,Budaya,Yogyakarta,7000,4.7,NaN,"{'lat': -7.806753499999999, 'lng': 110.3636659}",-7.806754,110.363666,NaN,150
433,Wisata Kuliner Pecenongan,33,2.636364,29,Pecenongan merupakan salah satu surga kuliner ...,Pusat Perbelanjaan,Jakarta,0,5.0,NaN,...,Pusat Perbelanjaan,Jakarta,0,5.0,NaN,"{'lat': -6.166788700000001, 'lng': 106.8265261}",-6.166789,106.826526,NaN,29
434,Wisata Lereng Kelir,31,3.290323,367,Wisata yang ada di kawasan gunung Kelir ini me...,Cagar Alam,Semarang,7000,4.3,NaN,...,Cagar Alam,Semarang,7000,4.3,NaN,"{'lat': -7.3126613, 'lng': 110.3746785}",-7.312661,110.374679,NaN,367
435,Wisata Mangrove Tapak,18,2.722222,349,Wisata hutan mangrove Semarang hampir tak pern...,Cagar Alam,Semarang,5000,4.3,90.0,...,Cagar Alam,Semarang,5000,4.3,90.0,"{'lat': -6.968561800000001, 'lng': 110.3459696}",-6.968562,110.345970,NaN,349
436,Wot Batu,18,2.388889,262,Wot Batu adalah sebuah konfigurasi energi yang...,Cagar Alam,Bandung,50000,4.7,NaN,...,Cagar Alam,Bandung,50000,4.7,NaN,"{'lat': -6.8597013, 'lng': 107.6360983}",-6.859701,107.636098,NaN,262

In [45]:
popular_df.merge(tourismid,on='Place_Name').drop_duplicates('Place_Name')[['Place_Name','City','Price','num_ratings','avg_ratings']].head(20)

,Place_Name,City,Price,num_ratings,avg_ratings
0,Keraton Surabaya,Surabaya,0,31,3.97
1,Puncak Gunung Api Purba - Nglanggeran,Yogyakarta,10000,17,3.88
2,Kampung Cina,Jakarta,15000,19,3.84
3,Teras Cikapundung BBWS,Bandung,0,19,3.79
4,Monumen Yogya Kembali,Yogyakarta,15000,22,3.77
5,Bukit Jamur,Bandung,0,30,3.77
6,Bukit Bintang Yogyakarta,Yogyakarta,25000,17,3.76
7,Monumen Nasional,Jakarta,20000,18,3.72
8,Glamping Lakeside Rancabali,Bandung,30000,21,3.71
9,Pantai Baron,Yogyakarta,10000,23,3.70
10,Sanghyang Heuleut,Bandung,10000,29,3.66
11,Stone Garden Citatah,Bandung,30000,17,3.65
12,Masjid Agung Trans Studio Bandung,Bandung,0,28,3.64
13,Desa Wisata Gamplong,Yogyakarta,10000,30,3.63
14,Monumen Selamat Datang,Jakarta,0,19,3.63
15,Dago Dreampark,Bandung,40000,21,3.62
16,Wisata Agro Edukatif Istana Susu Cibugary,Jakarta,35000,18,3.61
17,Air Terjun Kedung Pedut,Yogyakarta,20000,22,3.59
18,Taman Pelangi,Surabaya,0,17,3.59
19,Taman Keputran,Surabaya,0,26,3.58

In [46]:
popular_df

,Place_Name,num_ratings,avg_ratings,Place_Id_x,Description_x,Category_x,City_x,Price_x,Rating_x,Time_Minutes_x,...,Category_y,City_y,Price_y,Rating_y,Time_Minutes_y,Coordinate_y,Lat_y,Long_y,Unnamed: 11_y,Unnamed: 12_y
158,Keraton Surabaya,31,3.97,416,Kawasan yang berjuluk Kampung Keraton ini terd...,Budaya,Surabaya,0,4.4,NaN,...,Budaya,Surabaya,0,4.4,NaN,"{'lat': -7.256755299999998, 'lng': 112.7942203}",-7.26,112.79,NaN,416
312,Puncak Gunung Api Purba - Nglanggeran,17,3.88,139,Gunung Nglanggeran adalah sebuah gunung di Dae...,Cagar Alam,Yogyakarta,10000,4.7,60.0,...,Cagar Alam,Yogyakarta,10000,4.7,60.0,"{'lat': -7.841252999999998, 'lng': 110.543056}",-7.84,110.54,NaN,139
135,Kampung Cina,19,3.84,52,KAMPUNG China adalah hunian dan kawasan perdag...,Budaya,Jakarta,15000,4.5,NaN,...,Budaya,Jakarta,15000,4.5,NaN,"{'lat': -6.3651357, 'lng': 106.7617984}",-6.37,106.76,NaN,52
402,Teras Cikapundung BBWS,19,3.79,254,Teras Cikapundung Bandung sebelumnya merupakan...,Taman Hiburan,Bandung,0,4.3,60.0,...,Taman Hiburan,Bandung,0,4.3,60.0,"{'lat': -6.8844199, 'lng': 107.6068344}",-6.88,107.61,NaN,254
200,Monumen Yogya Kembali,22,3.77,97,Museum Monumen Yogya Kembali (bahasa Jawa: ꦩꦺꦴ...,Budaya,Yogyakarta,15000,4.5,30.0,...,Budaya,Yogyakarta,15000,4.5,30.0,"{'lat': -7.7495904, 'lng': 110.3696068}",-7.75,110.37,NaN,97
25,Bukit Jamur,30,3.77,322,Bukit Jamur Ciwidey adalah satu dari sekian ba...,Cagar Alam,Bandung,0,4.2,NaN,...,Cagar Alam,Bandung,0,4.2,NaN,"{'lat': -7.195110199999998, 'lng': 107.4312811}",-7.20,107.43,NaN,322
23,Bukit Bintang Yogyakarta,17,3.76,112,Bukit Bintang merupakan salah satu lokasi nong...,Taman Hiburan,Yogyakarta,25000,4.5,90.0,...,Taman Hiburan,Yogyakarta,25000,4.5,90.0,"{'lat': -7.845840699999997, 'lng': 110.4798457}",-7.85,110.48,NaN,112
193,Monumen Nasional,18,3.72,1,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.18,106.83,NaN,1
88,Glamping Lakeside Rancabali,21,3.71,321,Glamping Lakeside Rancabali menawarkan tempat ...,Taman Hiburan,Bandung,30000,4.4,NaN,...,Taman Hiburan,Bandung,30000,4.4,NaN,"{'lat': -7.167590799999999, 'lng': 107.3532419}",-7.17,107.35,NaN,321
249,Pantai Baron,23,3.70,157,Pantai Baron adalah salah satu objek wisata be...,Bahari,Yogyakarta,10000,4.4,NaN,...,Bahari,Yogyakarta,10000,4.4,NaN,"{'lat': -8.1288246, 'lng': 110.5487763}",-8.13,110.55,NaN,157
325,Sanghyang Heuleut,29,3.66,300,Danau yang satu ini memiliki air jernih bernua...,Cagar Alam,Bandung,10000,4.4,NaN,...,Cagar Alam,Bandung,10000,4.4,NaN,"{'lat': -6.876513099999999, 'lng': 107.3422183}",-6.88,107.34,NaN,300
340,Stone Garden Citatah,17,3.65,230,"Stone Garden, adalah sebutan nama untuk hampa...",Taman Hiburan,Bandung,30000,4.4,NaN,...,Taman Hiburan,Bandung,30000,4.4,NaN,"{'lat': -6.8281528, 'lng': 107.4350179}",-6.83,107.44,NaN,230
177,Masjid Agung Trans Studio Bandung,28,3.64,279,Masjid Agung Trans Studio Bandung (TSB) berdir...,Tempat Ibadah,Bandung,0,4.8,NaN,...,Tempat Ibadah,Bandung,0,4.8,NaN,"{'lat': -6.925963500000001, 'lng': 107.6354278}",-6.93,107.64,NaN,279
60,Desa Wisata Gamplong,30,3.63,134,Desa Wisata Gamplong adalah desa wisata keraji...,Taman Hiburan,Yogyakarta,10000,4.4,60.0,...,Taman Hiburan,Yogyakarta,10000,4.4,60.0,"{'lat': -7.805523199999997, 'lng': 110.2374676}",-7.81,110.24,NaN,134
197,Monumen Selamat Datang,19,3.63,44,Monumen Selamat Datang adalah sebuah monumen y...,Budaya,Jakarta,0,4.7,15.0,...,Budaya,Jakarta,0,4.7,15.0,"{'lat': -6.194997799999999, 'lng': 106.8230496}",-6.19,106.82,NaN,44
57,Dago Dreampark,21,3.62,224,Dago Dreampark merupakan wisata kekinian di Ko...,Taman Hiburan,Bandung,40000,4.2,150.0,...,Taman Hiburan,Bandung,40000,4.2,150.0,"{'lat': -6.8486423, 'lng': 107.625939}",-6.85,107.63,NaN,224
424,Wisata Agro Edukatif Istana Susu Cibugary,18,3.61,28,Kawasan Wisata Agro Edukatif Istana Susu “Cibu...,Taman Hiburan,Jakarta,35000,4.5,NaN,...,Taman Hiburan,Jakarta,35000,4.5,NaN,"{'lat': -6.3568093, 'lng': 106.9062371}",-6.36,106.91,NaN,28
2,Air Terjun Kedung Pedut,22,3.59,132,Air Terjun Kedung Pedut atau biasa disebut Cur...,Cagar Alam,Yogyakarta,20000,4.5,60.0,...,Cagar Alam,Yogyakarta,20000,4.5,60.0,"{'lat': -7.769987499999998, 'lng': 110.1210707}",-7.77,110.12,NaN,132
387,Taman Pelangi,17,3.59,399,Kalau pelangi biasanya ada di siang hari pasca...,Taman Hiburan,Surabaya,0,4.5,20.0,...,Taman Hiburan,Surabaya,0,4.5,20.0,"{'lat': -7.3275604, 'lng': 112.7312242}",-7.33,112.73,NaN,399
375,Taman Keputran,26,3.58,401,"Ntah, mengapa nama taman ini disebut dengan ta...",Taman Hiburan,Surabaya,0,4.3,NaN,...,Taman Hiburan,Surabaya,0,4.3,NaN,"{'lat': -7.2732153, 'lng': 112.744102}",-7.27,112.74,NaN,401

In [83]:
x=ratings_with_name.groupby('User_Id').count()['Place_Ratings']>40
padhe_lekhe_users=x[x].index

In [86]:
filtered_rating=ratings_with_name[ratings_with_name['User_Id'].isin(padhe_lekhe_users)]

In [113]:
y=filtered_rating.groupby('Place_Name').count()['Place_Ratings']>=7
famous_places=y[y].index

In [116]:
final_ratings=filtered_rating[filtered_rating['Place_Name'].isin(famous_places)]

In [121]:
pt=final_ratings.pivot_table(index='Place_Name',columns='User_Id',values='Place_Ratings')
pt

User_Id,17,19,28,31,40,49,53,54,74,86,...,184,198,227,230,242,247,267,276,289,294
Place_Name,,,,,,,,,,,,,,,,,,,,,
Blue Lagoon Jogja,NaN,5.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Candi Sewu,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,3.0,1.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Freedom Library,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,5.0,NaN,NaN,NaN,NaN
GunungTangkuban perahu,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,1.0,5.0,5.0,1.0,NaN,NaN,NaN
Kampung Batu Malakasari,NaN,NaN,NaN,4.0,NaN,NaN,NaN,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
Monumen Bambu Runcing Surabaya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.5,NaN,5.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN
Monumen Palagan Ambarawa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,5.0,NaN
Museum Nike Ardilla,NaN,3.0,NaN,NaN,NaN,NaN,1.5,NaN,NaN,3.000000,...,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
Pantai Kesirat,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,3.0,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
Pantai Samas,NaN,NaN,4.0,NaN,NaN,NaN,4.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,1.0,NaN,4.0,NaN
Pasar Beringharjo,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,NaN,4.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
Pasar Kebon Empring Bintaran,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.333333,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
Pulau Bidadari,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,5.000000,...,1.0,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,4.0
Saung Angklung Mang Udjo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,3.0,5.0,1.0,NaN,1.0,1.0
Semarang Chinatown,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.000000,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,3.0,NaN
Taman Buah Surabaya,3.5,NaN,2.0,NaN,NaN,NaN,3.0,NaN,3.0,NaN,...,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Taman Film,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,2.5,NaN,1.0,NaN,4.0,NaN,NaN,NaN,NaN
Taman Srigunting,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.0,5.0,NaN,NaN,NaN,NaN,3.0
Taman Sungai Mudal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,...,4.0,4.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
Wisata Eling Bening,3.5,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

NameError: name 'pt' is not defined

In [122]:
pt.fillna(0,inplace=True)

In [123]:
pt

User_Id,17,19,28,31,40,49,53,54,74,86,...,184,198,227,230,242,247,267,276,289,294
Place_Name,,,,,,,,,,,,,,,,,,,,,
Blue Lagoon Jogja,0.0,5.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Candi Sewu,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Freedom Library,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0
GunungTangkuban perahu,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,3.0,1.0,5.0,5.0,1.0,0.0,0.0,0.0
Kampung Batu Malakasari,0.0,0.0,0.0,4.0,0.0,0.0,0.0,3.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
Monumen Bambu Runcing Surabaya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,1.5,0.0,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
Monumen Palagan Ambarawa,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.000000,...,3.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,5.0,0.0
Museum Nike Ardilla,0.0,3.0,0.0,0.0,0.0,0.0,1.5,0.0,0.0,3.000000,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Pantai Kesirat,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,5.0,3.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
Pantai Samas,0.0,0.0,4.0,0.0,0.0,0.0,4.0,5.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,4.0,0.0,1.0,0.0,4.0,0.0
Pasar Beringharjo,0.0,0.0,0.0,0.0,4.0,0.0,2.0,0.0,0.0,4.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Pasar Kebon Empring Bintaran,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.333333,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0
Pulau Bidadari,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,5.000000,...,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0
Saung Angklung Mang Udjo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.000000,...,0.0,0.0,0.0,0.0,3.0,5.0,1.0,0.0,1.0,1.0
Semarang Chinatown,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.000000,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0
Taman Buah Surabaya,3.5,0.0,2.0,0.0,0.0,0.0,3.0,0.0,3.0,0.000000,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Taman Film,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.000000,...,0.0,2.5,0.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0
Taman Srigunting,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,5.0,5.0,0.0,0.0,0.0,0.0,3.0
Taman Sungai Mudal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.000000,...,4.0,4.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
Wisata Eling Bening,3.5,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [124]:
    from sklearn.metrics.pairwise import cosine_similarity

In [128]:
similarity_scores=cosine_similarity(pt)

In [129]:
similarity_scores

array([[1.        , 0.01630387, 0.        , 0.        , 0.1207076 ,
        0.11551284, 0.03160599, 0.32075168, 0.        , 0.06175664,
        0.05960861, 0.42193106, 0.07547224, 0.        , 0.40306445,
        0.        , 0.        , 0.        , 0.04513703, 0.        ],
       [0.01630387, 1.        , 0.30925935, 0.        , 0.        ,
        0.17891407, 0.39652323, 0.07452027, 0.24003256, 0.04591336,
        0.110791  , 0.25371768, 0.39277216, 0.34815531, 0.02881354,
        0.36766377, 0.28379502, 0.        , 0.1817693 , 0.        ],
       [0.        , 0.30925935, 1.        , 0.38296464, 0.34071995,
        0.12172787, 0.08742959, 0.        , 0.        , 0.        ,
        0.02355592, 0.29424211, 0.17894908, 0.43180271, 0.        ,
        0.        , 0.56115555, 0.36224372, 0.        , 0.0843574 ],
       [0.        , 0.        , 0.38296464, 1.        , 0.3968879 ,
        0.47264933, 0.02909784, 0.2460815 , 0.3496931 , 0.23879445,
        0.13719564, 0.06854963, 0.20844897, 0.58921184, 0.14272249,
        0.        , 0.29520241, 0.35658581, 0.        , 0.16704844],
       [0.1207076 , 0.        , 0.34071995, 0.3968879 , 1.        ,
        0.11353812, 0.09319703, 0.        , 0.        , 0.30350446,
        0.        , 0.14637107, 0.22254605, 0.38357276, 0.01523746,
        0.        , 0.31516649, 0.04441513, 0.        , 0.08392737],
       [0.11551284, 0.17891407, 0.12172787, 0.47264933, 0.11353812,
        1.        , 0.05202529, 0.52145765, 0.36124493, 0.18072002,
        0.        , 0.24512577, 0.01656422, 0.17129718, 0.11341324,
        0.        , 0.03351145, 0.23613162, 0.06604282, 0.        ],
       [0.03160599, 0.39652323, 0.08742959, 0.02909784, 0.09319703,
        0.05202529, 1.        , 0.        , 0.36951647, 0.35602287,
        0.04698198, 0.16096792, 0.25833609, 0.40073331, 0.20946268,
        0.12958865, 0.        , 0.        , 0.2710541 , 0.        ],
       [0.32075168, 0.07452027, 0.        , 0.2460815 , 0.        ,
        0.52145765, 0.        , 1.        , 0.        , 0.07527247,
        0.22704481, 0.15125687, 0.29130108, 0.01585505, 0.07085736,
        0.08219521, 0.        , 0.03934088, 0.16810309, 0.        ],
       [0.        , 0.24003256, 0.        , 0.3496931 , 0.        ,
        0.36124493, 0.36951647, 0.        , 1.        , 0.29950378,
        0.        , 0.11606919, 0.22222697, 0.24333213, 0.1342554 ,
        0.34262261, 0.17851459, 0.39133636, 0.51468256, 0.        ],
       [0.06175664, 0.04591336, 0.        , 0.23879445, 0.30350446,
        0.18072002, 0.35602287, 0.07527247, 0.29950378, 1.        ,
        0.08393199, 0.        , 0.        , 0.18682447, 0.26193944,
        0.2532102 , 0.        , 0.36358003, 0.        , 0.15028676],
       [0.05960861, 0.110791  , 0.02355592, 0.13719564, 0.        ,
        0.        , 0.04698198, 0.22704481, 0.        , 0.08393199,
        1.        , 0.16865781, 0.25643133, 0.06629644, 0.55306263,
        0.09165113, 0.        , 0.        , 0.54315594, 0.47144327],
       [0.42193106, 0.25371768, 0.29424211, 0.06854963, 0.14637107,
        0.24512577, 0.16096792, 0.15125687, 0.11606919, 0.        ,
        0.16865781, 1.        , 0.36729337, 0.03974992, 0.24124663,
        0.09158675, 0.06480343, 0.27397454, 0.20433859, 0.09059848],
       [0.07547224, 0.39277216, 0.17894908, 0.20844897, 0.22254605,
        0.01656422, 0.25833609, 0.29130108, 0.22222697, 0.        ,
        0.25643133, 0.36729337, 1.        , 0.34918995, 0.06669038,
        0.33265436, 0.21019451, 0.13329837, 0.45307681, 0.1928473 ],
       [0.        , 0.34815531, 0.43180271, 0.58921184, 0.38357276,
        0.17129718, 0.40073331, 0.01585505, 0.24333213, 0.18682447,
        0.06629644, 0.03974992, 0.34918995, 1.        , 0.12414088,
        0.17600563, 0.43474088, 0.20677366, 0.05354796, 0.        ],
       [0.40306445, 0.02881354, 0.        , 0.14272249, 0.01523746,
        0.11341324, 0.20946268, 0.07085736, 0.1342554 , 0.26193944,
        0.55306263, 0.24124663, 0.06669038, 0.12414088, 1.        ,
        0.04767162, 0.01349228, 0.15401439, 0.38555445, 0.26408044],
       [0.        , 0.36766377, 0.        , 0.        , 0.        ,
        0.        , 0.12958865, 0.08219521, 0.34262261, 0.2532102 ,
        0.09165113, 0.09158675, 0.33265436, 0.17600563, 0.04767162,
        1.        , 0.34432579, 0.13233937, 0.3392907 , 0.26804385],
       [0.        , 0.28379502, 0.56115555, 0.29520241, 0.31516649,
        0.03351145, 0.        , 0.        , 0.17851459, 0.        ,
        0.        , 0.06480343, 0.21019451, 0.43474088, 0.01349228,
        0.34432579, 1.        , 0.26406057, 0.14731549, 0.01857875],
       [0.        , 0.        , 0.36224372, 0.35658581, 0.04441513,
        0.23613162, 0.        , 0.03934088, 0.39133636, 0.36358003,
        0.        , 0.27397454, 0.13329837, 0.20677366, 0.15401439,
        0.13233937, 0.26406057, 1.        , 0.06643384, 0.07854682],
       [0.04513703, 0.1817693 , 0.        , 0.        , 0.        ,
        0.06604282, 0.2710541 , 0.16810309, 0.51468256, 0.        ,
        0.54315594, 0.20433859, 0.45307681, 0.05354796, 0.38555445,
        0.3392907 , 0.14731549, 0.06643384, 1.        , 0.12814947],
       [0.        , 0.        , 0.0843574 , 0.16704844, 0.08392737,
        0.        , 0.        , 0.        , 0.        , 0.15028676,
        0.47144327, 0.09059848, 0.1928473 , 0.        , 0.26408044,
        0.26804385, 0.01857875, 0.07854682, 0.12814947, 1.        ]])

In [165]:
def recommend(place_name):
    index=np.where(pt.index==place_name)[0][0]
    similar_items=sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    
    for i in similar_items:
       print(pt.index[i[0]])

In [172]:
recommend('Taman Srigunting')

Pantai Kesirat
Pantai Samas
Freedom Library
GunungTangkuban perahu

In [175]:
pt.index[8]

'Pantai Kesirat'

In [151]:
import pickle
pickle.dump(popular_df,open('populars.pkl','wb'))

In [167]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(tourismid,open('tourismid.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

In [176]:
pt.index[8]

'Pantai Kesirat'

In [177]:
pt.index[9]

'Pantai Samas'

In [178]:
pt.index[2]

'Freedom Library'

In [179]:
pt.index[3]

'GunungTangkuban perahu'